Flask[async]
requests
scapy
netifaces-plus
sentry-sdk[flask]
psutil
Flask-SocketIO
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
mac-vendor-lookup
aiohttp>=3.10.11 # not directly required, pinned by Snyk to avoid a vulnerability

#FOR Raspberry Pi
rpi_ws281x; platform_system == 'Linux'
smbus; platform_system == 'Linux'
